.faq {
  background-color: white;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5) inset;
  margin: 1rem 0;
  padding: 0.6rem;
  border-radius: 0.6rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.faq h3 {
  color: #5c5c5c;
}
.faq p {
  color: #222222;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.upper {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon {
  color: #5c5c5c;
  font-size: 1.2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.faq:hover {
  background-color: rgb(223, 223, 223);
}
